<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | The Unit Art Gallery</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <header class="row content">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 order-lg-4 inverse logo"><h1>The Unit</h1></div>
            <div class="col-xs-12 col-sm-6 col-md-6 pull-lg-3 col-lg-3 order-lg-3 tel"><a href="tel:01234 567 890">01234 567 890</a></div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 order-lg-1" id="account-btn">
                <i class="fas fa-bars"></i> Register / Login
                <div id="account">
                    <p>Log in information will go here</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 order-lg-2" id="search-btn">
                <i class="fas fa-search"></i> Search
                <div id="search">
                    <p>Search Bar</p>
                </div>
            </div>

            
        </header>

        @RenderBody()

        <footer class="row content">
            <div class="col-md-12 inverse logo">
                <h1>The Unit</h1>
            </div>
            <div class="col-md-4">
                <h3>Additional Space...</h3>
                <p>1</p>
            </div>
            <div class="col-md-4">
                <h3>Additional Space...</h3>
                <p>2</p>
            </div>
            <div class="col-md-4">
                <h3>Contact Us...</h3>
                <address>
                    1337 No Where,<br />
                    Madeupville,<br />
                    Imaginary,<br />
                    TH3 4IT<br />

                    T: <a href="tel:01234 567 890">01234 567 890</a><br />
                    E: <a href="mailto:sales@theunitgallery.co.uk">sales@theunitgallery.co.uk</a>
                </address>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/theunit")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
